<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理</title>
    <meta name="description" content="后台管理">
    <meta name="keywords" content="后台管理">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,sysUser-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <style type="text/css">
        .el-main {
            position: absolute;
            top: 70px;
            bottom: 0px;
            left: 200px;
            right: 10px;
            padding: 0;
        }
    </style>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div id="app">
    <el-container>
        <el-header class="main-header" style="height:70px;">
            <nav class="navbar navbar-static-top" :class=''>
                <!-- Logo -->
                <a href="#" class="logo" style="text-align:center">
                    <span class="logo-lg">后台管理</span>
                </a>
                <div class="right-menu">
                    <span class="help"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>帮助</span>
                    <el-dropdown class="avatar-container right-menu-item" trigger="click">
                        <div class="avatar-wrapper">
                            <img src="../img/head_img.png" class="sysUser-avatar">
                            {{username}}
                        </div>
                        <el-dropdown-menu slot="dropdown">
                            <!--<el-dropdown-item divided>-->
                            <!--    <span style="display:block;">修改密码</span>-->
                            <!--</el-dropdown-item>-->
                            <el-dropdown-item divided>
                                <a href="/logout"><span style="display:block;">退出</span></a>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </nav>
        </el-header>
        <el-container>
            <el-aside width="200px">
                <el-menu>
                    <el-submenu v-for="menu in menuList" :index="menu.path">
                        <template slot="title">
                            <i class="fa" :class="menu.icon"></i>
                            {{menu.title}}
                        </template>
                        <template v-for="child in menu.children">
                            <el-menu-item :index="child.path">
                                <a :href="child.linkUrl" target="right">{{child.title}}</a>
                            </el-menu-item>
                        </template>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-container>
                <iframe name="right" class="el-main" src="admin.html" width="100%" height="800px"
                        frameborder="0"></iframe>
            </el-container>
        </el-container>
    </el-container>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: '#app',
        methods: {
            getUserInfo () {
                axios.post("/admin/user/user").then((res) => {
                    this.username = res.data;
                })
            }
        },
        created () {
           this.getUserInfo();
        },
        data: {
            username: "",
            menuList: [
                {
                    "path": "1",
                    "title": "用户权限",
                    "icon": "fa-sysUser-md",
                    "children": [
                        {
                            "path": "/1-1",
                            "title": "管理员",
                            "linkUrl": "admin.html",
                            "children": []
                        },
                        {
                            "path": "/1-2",
                            "title": "后台权限",
                            "linkUrl": "permission.html",
                            "children": []
                        },
                        {
                            "path": "/1-3",
                            "title": "普通用户",
                            "linkUrl": "user.html",
                            "children": []
                        },
                    ]
                },
                {
                    "path": "2",
                    "title": "文章相关",
                    "icon": "fa-sysUser-md",
                    "children": [
                        {
                            "path": "/2-1",
                            "title": "文章管理",
                            "linkUrl": "article.html",
                            "children": []
                        },
                        {
                            "path": "/2-2",
                            "title": "分类管理",
                            "linkUrl": "category.html",
                            "children": []
                        },
                        {
                            "path": "/2-3",
                            "title": "评论管理",
                            "linkUrl": "comment.html",
                            "children": []
                        },
                        {
                            "path": "/2-4",
                            "title": "标签管理",
                            "linkUrl": "tag.html",
                            "children": []
                        },
                    ]
                },
            ]
        }
    });
    $(function () {
        var wd = 200;
        $(".el-main").css('width', $('body').width() - wd + 'px');
    });
</script>
</html>
