<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lin.dao.mapper.ArticleMapper">

    <resultMap id="articleMap" type="com.lin.dao.pojo.Article">
        <id column="id" property="id"/>
        <result column="author_id" property="authorId"/>
        <result column="comment_counts" property="commentCounts"/>
        <result column="create_date" property="createDate"/>
        <result column="summary" property="summary"/>
        <result column="title" property="title"/>
        <result column="view_counts" property="viewCounts"/>
        <result column="weight" property="weight"/>
        <result column="body_id" property="bodyId"/>
        <result column="category_id" property="categoryId"/>
    </resultMap>
    <update id="updateAvailableById">
        update b_article set available=0
        <where>
            <if test="articleId != null">
                id=#{articleId}
            </if>
        </where>
    </update>

    <select id="listArchives" resultType="com.lin.dao.dos.Archives">
        select FROM_UNIXTIME(create_date/1000,'%Y') as year,FROM_UNIXTIME(create_date/1000,'%m') as month,count(*) as
        count from b_article where available=1 group by year,month
    </select>

    <select id="listArticle" resultMap="articleMap">
        select * from b_article
        <where>
            1 = 1
            and available=1
            <if test="categoryId != null">
                and category_id=#{categoryId}
            </if>
            <if test="tagId != null">
                and id in (select article_id from b_article_tag where tag_id=#{tagId})
            </if>
            <if test="year != null and year.length>0 and month != null and month.length>0">
                and (FROM_UNIXTIME(create_date/1000,'%Y') =#{year} and FROM_UNIXTIME(create_date/1000,'%m')=#{month})
            </if>
            <if test="keyWord != null and keyWord.length>0">
--                 and title LIKE concat('%',#{keyWord},'%')
                and title LIKE concat(#{keyWord},'%')
            </if>

        </where>
        order by weight,create_date desc

    </select>


</mapper>
