<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lin.dao.mapper.TagMapper">

    <!-- List<Tag> findTagsByArticleId(Long articleId);-->
    <select id="findTagsByArticleId" parameterType="long" resultType="com.lin.dao.pojo.Tag">
        select id,avatar,tag_name as tagName from b_tag
        where id in
        (select tag_id from b_article_tag where article_id=#{articleId})
    </select>
    <!-- List<Long> findHotsTagIds(int limit);-->
    <select id="findHotsTagIds" parameterType="int" resultType="java.lang.Long">
        SELECT tag_id FROM `b_article_tag` group by tag_id order by count(*) desc limit #{limit}
    </select>
    <!-- List<Tag> findTagsByTagIds(List<Long> tagIds);-->
    <select id="findTagsByTagIds" parameterType="list" resultType="com.lin.dao.pojo.Tag">
        select id,tag_name as tagName from b_tag
        where id in
        <foreach collection="tagIds" item="tagId" separator="," open="(" close=")">
            #{tagId}
        </foreach>
    </select>
</mapper>
